@import 'src/styles/variables';

$border: 1px solid #262f3d;
$box-shadow: 0 -1px 0 #404854 inset;
$padding: 20px;

:host {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: #27303d;
}

#corner-logo {
  padding-top: 10px;
  padding-bottom: 6px;
  padding-left: $padding;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  box-shadow: $box-shadow;
  border: $border;
  i {
    font-size: 28px;
    padding-right: 5px;
    margin-top: -6px;
    color: #ffcc2d;
  }
  div {
    padding-top: 4px;
    strong {
      font-weight: 600;
    }
  }
}

$sub-nav-padding: 5px;
.nav-area {
  display: flex;
  flex-direction: column;
  color: white;
  border-bottom: $border;
  animation: 1s ease 3.5s forwards;

  .header {
    padding-top: $padding;
    padding-left: $padding;
    padding-bottom: $padding;
    font-weight: 500;
    text-transform: uppercase;
  }

  &.open {
    background-color: #19212b;
    .header {
      padding-bottom: $padding - $sub-nav-padding;
    }
    .nav-sub {
      padding-bottom: $padding;
      height: 100%;
    }
  }

  .nav-sub {
    overflow: hidden;
    height: 0;
  }

  .nav-item {
    padding-left: $padding;
    opacity: .7;
    padding-top: $sub-nav-padding;
    padding-bottom: $sub-nav-padding;
    font-weight: 500;
  }
}

