@import 'src/styles/variables';

$border: 2px solid #262f3d;
$box-shadow: 0 -1px 0 #404854 inset;
$left-padding: 20px;

.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: #27303d;
}

#nav-sidebar-header {
  margin-bottom: 15px;
}

#corner-logo {
  padding-top: 10px;
  padding-bottom: 6px;
  padding-left: $left-padding;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  box-shadow: $box-shadow;
  border: $border;
  i {
    font-size: 28px;
    padding-right: 5px;
    margin-top: -6px;
    color: #ffcc2d;
  }
  div {
    padding-top: 4px;
    strong {
      font-weight: 600;
    }
  }
  span {
    font-weight: 700;
  }
}

#corner-logo-image {
  height: 33px;
  padding-right: 9px;
}

#corner-user-icon {
  font-size: 80px;
  opacity: .15;
  margin-bottom: 15px;
}

#company-name {
  font-size: 17px;
  opacity: .95;
  margin-bottom: 4px;
}

#user-email {
  font-size: 14px;
  opacity: .5;
  font-weight: 400;
}

