<!-- logo -->
<div id="corner-logo" class="d-flex">
  <i class="mdi mdi-file-find"></i>
  <div>Survey<b>Canary</b></div>
</div>

<div class="nav-area"
  [ngClass]="{open: isOpen('mySurveys')}"
  (click)="toggleTab('mySurveys')">

  <div class="header">My Surveys</div>
  <div class="nav-sub" [@openClose]="openTab === 'mySurveys'">
    <a href="#" class="nav-item"><i class="mdi mdi-inbox-arrow-down"></i>Received</a>
    <div class="nav-item">Sent</div>
    <div class="nav-item">Draft</div>
    <div class="nav-item">My Templates</div>
  </div>
</div>

<div class="nav-area"
  [ngClass]="{open: isOpen('reporting')}"
  (click)="toggleTab('reporting')">

  <div class="header">Reporting</div>
  <div class="nav-sub" [@openClose]="openTab === 'reporting'">
    <a href="#" class="nav-item">Received</a>
    <div class="nav-item">Sent</div>
    <div class="nav-item">Draft</div>
    <div class="nav-item">My Templates</div>
  </div>
</div>

<div class="nav-area"
  [ngClass]="{open: isOpen('admin')}"
  (click)="toggleTab('admin')">

  <div class="header">Admin</div>
  <div class="nav-sub" [@openClose]="openTab === 'admin'">
    <a href="#" class="nav-item">Received</a>
    <div class="nav-item">Sent</div>
    <div class="nav-item">Draft</div>
    <div class="nav-item">My Templates</div>
  </div>
</div>
