.wrapper {
  display: flex;
  background-color: #049ae5;
  color: white;
  padding: 14px 24px;
  font-size: 15px;
}

.company-dropdown {
  opacity: .65;
  font-weight: 500;
  transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover {
    opacity: 1;
  }
}

h1 {
  font-size: 26px;
  padding: 20px 0 5px 0;
  margin: 0;
  font-weight: 500;
}
